body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculator {
    width: 400px;
    background: #191919;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 3px black;
}

.calculator .calculator-header {
    color: white;
    font-size: 20px;
    padding: 15px;
}

.calculator .calculator-screen {
    width: 100%;
    height: 120px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#calculation {
    font-size: 20px;
    color: #A160FB;
    margin: 5px 0;
    text-align: right;
    width: calc(100% - 30px);
}

.calculator .calculator-screen input {
    width: calc(100% - 30px);
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 35px;
    font-weight: 600;
    text-align: right;
}

.calculator .calculator-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
}

.calculator .calculator-buttons button {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow:  0px 0px 15px 0.8px black;
    background: inherit;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.purple {
    background: #A160FB !important;
}